# Sprint 5
## Tasca M5 T01

Allison Garces Castaño

In [4]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp
from scipy import stats
from scipy.stats import ttest_ind

## Diccionario DataFrame 
### Lligues europees UEFA


- LgRk = Rank
- MP = Matches Played
- W = Wins
- D = Draws
- L = Losses
- GF = Goals For
- GA = Goals Against
- GD = Goals Difference
- Pts = Points
- Pts/MP = Points/Game
- xG = Expected Goals
- xGA = xG Allowed (Expected Goals Allowed)
- xGD = xG Difference (Expected Goals Difference)
- xGD/90 = xG Difference 90 (Expected Goals Difference per 90 Minutes)
- Last 5 = Last Five Matches
- Attendance = Attendance/Game
- Top Team Scorer = Only includes league matches for that season
- Goalkeeper = Goalkeeper with the most minutes in league play

In [6]:
datos = pd.read_csv("LligueseuropeesUEFA.csv", sep=";", encoding="ISO-8859-1", index_col="Rk")

df = pd.DataFrame(data=datos)
df.head(10)

,Squad,Country,LgRk,MP,W,D,L,GF,GA,GD,Pts,Pts/G,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper
Rk,,,,,,,,,,,,,,,,,,,,
1,Manchester City,ENG,1,37,28,6,3,96,24,72,90,2.43,86.1,26.8,59.3,1.60,W W W W D,52739,Kevin De Bruyne - 15,Ederson
2,Liverpool,ENG,2,36,26,8,2,89,24,65,86,2.39,84.6,33.1,51.4,1.43,W W W D W,53367,Mohamed Salah - 22,Alisson
3,Real Madrid,ESP,1,37,26,7,4,80,31,49,85,2.30,73.0,45.8,27.2,0.73,W W L W D,40624,Karim Benzema - 27,Thibaut Courtois
4,Bayern Munich,GER,1,34,24,5,5,97,37,60,77,2.26,88.1,37.1,51.0,1.50,W W L D D,33176,Robert Lewandowski - 35,Manuel Neuer
5,Paris S-G,FRA,1,37,25,8,4,85,36,49,83,2.24,71.6,38.1,33.4,0.90,W D D D W,41188,Kylian Mbappé - 25,Keylor Navas
6,Milan,ITA,1,37,25,8,4,66,31,35,83,2.24,60.0,34.4,25.6,0.69,W W W W W,42388,Rafael Leão - 11,Mike Maignan
7,Inter,ITA,2,37,24,9,4,81,32,49,81,2.19,78.1,38.2,39.9,1.08,W L W W W,41995,Lautaro Martínez - 21,Samir Handanovi?
8,Napoli,ITA,3,37,23,7,7,71,31,40,76,2.05,58.5,29.9,28.6,0.77,D L W W W,26681,Victor Osimhen - 14,David Ospina
9,Dortmund,GER,2,34,22,3,9,85,52,33,69,2.03,62.8,43.2,19.6,0.58,W L L W W,41800,Erling Haaland - 22,Gregor Kobel
10,Barcelona,ESP,2,37,21,10,6,68,36,32,73,1.97,61.3,35.2,26.1,0.71,L W W W D,53933,Memphis Depay - 12,Marc-André ter Stegen

In [7]:
df.describe()

,LgRk,MP,W,D,L,GF,GA,GD,Pts,Pts/G,xG,xGA,xGD,xGD/90,Attendance
count,98.000000,98.000000,98.000000,98.000000,98.00000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
mean,10.316327,36.306122,13.448980,9.408163,13.44898,50.877551,50.877551,0.000000,49.734694,1.370204,48.653061,48.645918,-0.005102,0.000918,24239.857143
std,5.706926,1.152390,5.747474,2.903381,5.12347,16.102933,13.634602,26.501896,16.166371,0.443903,12.453950,9.812481,19.992506,0.551414,14874.171842
min,1.000000,34.000000,3.000000,3.000000,2.00000,23.000000,24.000000,-56.000000,18.000000,0.530000,28.200000,26.800000,-40.400000,-1.090000,5870.000000
25%,5.250000,36.000000,9.000000,7.000000,10.00000,39.000000,40.000000,-17.750000,37.000000,1.000000,39.100000,41.300000,-13.575000,-0.365000,12355.500000
50%,10.000000,37.000000,13.000000,9.000000,13.00000,47.000000,50.000000,-1.000000,46.000000,1.300000,46.450000,47.750000,-1.100000,-0.030000,20491.000000
75%,15.000000,37.000000,17.000000,11.000000,17.00000,60.000000,59.000000,17.250000,61.750000,1.695000,55.550000,54.700000,12.800000,0.355000,32382.000000
max,20.000000,37.000000,28.000000,16.000000,26.00000,97.000000,89.000000,72.000000,90.000000,2.430000,88.100000,73.300000,59.300000,1.600000,73150.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98 entries, 1 to 98
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Squad            98 non-null     object
 1   Country          98 non-null     object
 2   LgRk             98 non-null     int64
 3   MP               98 non-null     int64
 4   W                98 non-null     int64
 5   D                98 non-null     int64
 6   L                98 non-null     int64
 7   GF               98 non-null     int64
 8   GA               98 non-null     int64
 9   GD               98 non-null     int64
 10  Pts              98 non-null     int64
 11  Pts/G            98 non-null     float64
 12  xG               98 non-null     float64
 13  xGA              98 non-null     float64
 14  xGD              98 non-null     float64
 15  xGD/90           98 non-null     float64
 16  Last 5           98 non-null     object
 17  Attendance       98 non-null     int64
 18  Top Team Scorer  98 non-null     object
 19  Goalkeeper       98 non-null     object
dtypes: float64(5), int64(10), object(5)
memory usage: 16.1+ KB

In [9]:
#Ejercicio 1

print('Media de la columna MP "Juegos Jugados:"',df['MP'].mean())

tset, pval = ttest_1samp(df['MP'], 20)

print('P-valor',pval)

if pval < 0.05:    #Valor Alpha is 0.05 or 5%
   print('Se rechaza la hipotesis nula')
else:
  print('Se acepta la hipotesis nula')

Media de la columna MP "Juegos Jugados:" 36.30612244897959
P-valor 9.240995754942517e-114
Se rechaza la hipotesis nula

In [10]:
#Ejercicio 2
df[['xGD','xGD/90']].describe()

# H0: - Hay diferencia entre las medias
# H1: . No hay diferencia entre las medias

ttest,pval = stats.ttest_rel(df['xGD'], df['xGD/90']) 

print('P-valor:',pval)

if pval<0.05: 
    print("Rechazar hipótesis nula") 
else: 
    print("Aceptar hipótesis nula")

P-valor: 0.9975603288075227
Aceptar hipótesis nula

In [22]:
from scipy.stats import f_oneway

#No se puede rechazar H0 : todas las distribuciones de muestra son iguales.
#Rechazar H0 : una o más distribuciones de muestra no son iguales.

stat, p = f_oneway(df['GF'],df['GA'],df['GD'])
print('Estadísticas=%.3f, p=%.3f' % (stat,p))
print('P-valor:',p)

alpha = 0.05

if p > alpha:
 print('Rechazar hipótesis nula')
else:
 print('Aceptar hipótesis nula')

Estadísticas=221.057, p=0.000
P-valor: 4.1114170239876985e-59
Aceptar hipótesis nula